@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root{
    --primary-color: #723CEB;
    --purple-gradient: #4C11ce;
    --orange-gradient: #ff902f;
    --dark-base: #131313;

}